@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@&display=swap);

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
}

body {
  font-family: Poppins;
  overflow-x: hidden;
}

.focusButton {
  /* background-color: green; */
  background: rgb(22, 80, 33);
}

.effect,
.effectsmall {
  border: 1px solid #fff;
  background: 0 0;
  color: #fff;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.carde,
.effect,
.effectsmall,
.gradient-box {
  position: relative;
}
.effect,
.effectsmall {
  display: inline-block;
}
.card:hover,
.carde:hover .card-mediae img {
  transform: scale(1.05);
}
*,
.card,
.card a,
.card__link,
.carde .card-contente .card-headere h3 a,
.effect,
.effectsmall,
.float,
.ukn li a,
a,
a:hover {
  text-decoration: none;
}
.card a,
.ncrd a {
  color: #000;
}
#leftBtn,
#rightBtn {
  background-color: #ededed;
  height: 3rem;
  width: 3rem;
}

.effectsmall {
  margin-top: 0.35rem;
  padding: 3px;
  font-size: 15px;
}
.effect:hover {
  border: 1px solid #000;
  background: #486ce2;
  transition: 1s;
  color: #fff;
}
.effect {
  padding: 12px 34px;
  font-size: 18px;
  font-weight: 600;
}
.line,
.snip1529 .date {
  background-color: #fff;
}
.mobile,
nav .fa {
  display: none;
}
.campus-content,
.gradient-box,
.max,
.nae,
.principal-message,
h2 {
  display: flex;
}
.gradient-box {
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background: linear-gradient(45deg, #001932, #003061, #6699cc);
  height: 44vh;
  overflow: hidden;
  width: 92%;
  background-size: 400% 400%;
  animation: 15s infinite Transitionbg;
  border-radius: 3px;
}
.gradient-box img {
  width: auto;
  height: 20rem;
  padding: 2rem;
}
@keyframes Transitionbg {
  0%,
  100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.gradient-box i {
  padding: 0.3rem;
}
.max {
  max-width: 35%;
  flex-direction: row;
}
.admissions-content {
  margin: 0 2rem 0 4rem;
  color: #fff;
}
.admissions-content h3 {
  font-size: 35px;
}
.admissions-contact-details h6 {
  padding-right: 1rem;
}
.line {
  color: #fff;
  width: 0.1rem;
  height: 20%;
}
.principal-content,
.principal-message img {
  background-color: #f1f1f1;
  border-radius: 8px;
}
.campus-content {
  justify-content: space-around;
  margin-bottom: 5rem;
}
.principal-message img {
  padding: 2rem;
  width: 60rem;
  height: 30rem;
}
.principal-message {
  padding: 2rem;
  text-align: justify;
  flex-direction: row;
}
.principal-content {
  font-size: 12.5px;
  padding: 3rem;
  margin-left: 1rem;
}
.carde {
  margin-right: 1.5rem;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.float,
.ukn {
  position: fixed;
}
.carde .card-mediae {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}
.carde .card-mediae img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
}
.carde .card-mediae::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0);
  transition: 0.3s;
  z-index: 1;
}
.carde:hover .card-mediae::before {
  background-color: #161616ef;
}
.carde .card-contente {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: 9rem;
}
.carde:hover .card-contente,
.video-container:hover .video-overlay {
  opacity: 1;
}
.carde .card-contente .card-headere .card-datee {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}
.carde .card-contente .card-headere h3 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 35px;
}
.carde .card-contente .card-headere h3 a {
  display: block;
  color: #fff;
  transition: 0.3s;
}
.carde .card-contente .card-footere .read-more-linke:hover,
.carde .card-contente .card-headere h3 a:hover {
  color: #00a2ff;
}
.carde .card-contente .card-footere {
  position: absolute;
  bottom: 5%;
  width: 50%;
}
.carde .card-contente .card-footere .read-more-linke {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
.carde .read-more-linke svg {
  height: 10px;
  margin-left: 10px;
  transition: transform 0.3s;
}
.carde .read-more-linke:hover svg {
  transform: translateX(5px);
}
.carde .card-bordere span {
  display: inline-block;
  position: absolute;
  background-color: #00a2ff;
  transition: 0.3s linear;
  z-index: 2;
}
.float,
.snip1529 a,
.ukn a:hover {
  z-index: 1;
}
.carde .card-bordere span.top {
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}
.carde .card-bordere span.right {
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}
.carde .card-bordere span.bottom {
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}
.carde .card-bordere span.left {
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}
.carde:hover .card-bordere span.top {
  transform: scaleX(1);
}
.carde:hover .card-bordere span.right {
  transform: scaleY(1);
  transition-delay: 0.3s;
}
.carde:hover .card-bordere span.bottom {
  transform: scaleX(1);
  transition-delay: 0.6s;
}
.carde:hover .card-bordere span.left {
  transform: scaleY(1);
  transition-delay: 0.9s;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  flex-direction: row;
}
.card {
  transition: 0.3s ease-in-out;
}
.lead {
  font-weight: 500;
}
.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.float {
  width: 100px;
  height: 40px;
  bottom: 95px;
  right: 0;
  background-color: #00093c;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-weight: 600;
}
.activeColor,
.inactiveColor {
  border-radius: 10px 10px 0 0;
}
.float:hover {
  color: #ff0;
}
.float p {
  margin-top: 10px;
  font-size: small;
}
@keyframes autoScrolling {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -20em;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.list-group-item {
  height: 6rem;
}
.activeColor {
  background: linear-gradient(to right, #1a1a1a, #00093c);
}
.inactiveColor {
  background-color: #a28700;
}
.nae {
  margin-top: 4rem;
}
.nae1 ul {
  list-style-type: none;
  padding: 17px;
}
.nae1 img {
  width: 17rem;
  height: 11rem;
  margin: 0.4rem;
  border-radius: 4px;
  padding: 0.5rem;
  background: linear-gradient(140deg, #1a1a1a, #00093c);
}
.ukn {
  z-index: 999;
  width: 36px;
  top: 580px;
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.card,
.card__head,
.snip1529,
.snip1529 img,
.ukn li {
  position: relative;
}
.ukn li {
  height: 40px;
}
.ukn li a {
  color: #fff;
  display: block;
  padding: 1.2rem;
  transition: 0.1s linear;
}
.ukn li:first-child a:hover {
  background: #4267b2;
  color: #4267b2;
}
.ukn li:nth-child(2) a:hover {
  background: #1da1f2;
  color: #1da1f2;
}
.ukn li:nth-child(3) a:hover {
  background: #be1e53;
  color: #be1e53;
}
.ukn li:nth-child(4) a:hover {
  background: #2867b2;
  color: #2867b2;
}
.ukn li:nth-child(5) a:hover {
  background: red;
  color: red;
}
.ukn li a i {
  position: absolute;
  top: 15px;
  left: -1.2rem;
  font-size: 14px;
}
.ukn ul li a span {
  font-size: 12px;
  transition: 0.15s linear;
  display: none;
}
.ukn a:hover {
  margin-left: 0.5rem;
  width: 130px;
  border-radius: 0.7rem;
  padding-left: 2rem;
}
.ukn ul li:hover a span {
  color: #fff;
  display: block;
}
.wrapper-scroll {
  margin: 0.4rem 3.5rem 0;
}
.scroll-list {
  width: 30%;
}
.scroll-list__wrp {
  width: 30rem;
  height: 42rem;
  overflow: auto;
  padding: 2rem;
  background: linear-gradient(140deg, #1a1a1a, #00093c);
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px 0 rgba(41, 53, 108, 0.25);
}
.author__image,
.card,
.snip1529 {
  overflow: hidden;
}
.scroll-list__wrp .scrollbar-track {
  display: none !important;
}
.scroll-list__item {
  width: 100%;
  height: 190px;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.5);
  box-shadow: 0 7px 16px 0 rgba(41, 53, 108, 0.25);
}
.author,
.card,
.snip {
  display: flex;
}
.scroll-list__item.item-hide {
  opacity: 0;
  transform: scale(0.7);
}
.scroll-list__item.item-focus,
.scroll-list__item.item-next,
.scroll-list__item.item-next + .scroll-list__item {
  opacity: 1;
  transform: scale(1);
}
.scroll-list__item:last-child {
  margin-bottom: 155px;
}
.snip {
  margin-bottom: 6rem;
}
.snip1529 {
  background-color: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #fff;
  line-height: 1.4em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  text-align: left;
  width: 100%;
}
.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.75;
}
.snip1529 figcaption {
  padding: 25px 20px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.snip1529 .date {
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}
.snip1529 .hover,
.snip1529 a {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
}
.snip1529 .date span {
  display: block;
  line-height: 14px;
}
.snip1529 .date .month {
  font-size: 11px;
}
.snip1529 h4,
.snip1529 p {
  margin: 0;
  padding: 0;
}
.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}
.snip1529 .hover {
  align-items: center;
  background-color: rgba(0, 128, 128, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}
.snip1529.hover .hover,
.snip1529:hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}
.card.hover .card__author,
.ncrd a {
  transition-delay: 0;
}
.snip1529.hover figcaption,
.snip1529:hover figcaption {
  opacity: 0;
}
.snip1529.hover .date,
.snip1529:hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.card {
  margin: 3rem 1rem;
  flex-direction: column;
  width: 450px;
  background: #fff;
  transition-delay: 0.15se;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card.hover {
  color: #fff;
}
.card,
.card__author,
.card__body,
.card__border,
.card__foot,
.card__image,
.card__image::after {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
}
.card__head {
  padding-top: 100%;
}
.card__author,
.card__image,
.card__image::after {
  position: absolute;
  left: 0;
  bottom: 0;
}
.card__author {
  padding: 1em;
  color: #fff;
  transition-property: transform;
  transition-delay: 0.15s;
}
.card__foot,
.card__image::after {
  transition-property: opacity;
  right: 0;
}
.card.hover .card__body,
.card.hover .card__border,
.card.hover .card__foot,
.card.hover .card__image,
.card__body,
.card__image,
.card__image::after {
  transition-delay: 0.15s;
}
.card__image {
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-image: url("/public_html/images/logolong.jpeg");
  transform-origin: top center;
}
.card__image::after {
  content: "";
  top: 0;
  opacity: 0.5;
  background: linear-gradient(
    30deg,
    rgba(47, 47, 47, 0.85),
    rgba(0, 0, 0, 0.5)
  );
}
.card.hover .card__image::after {
  opacity: 1;
  transition-delay: 0.15s;
}
.card__body {
  position: relative;
  padding: 0.75rem 2rem;
}
.card__border,
.card__foot {
  position: absolute;
  left: 0;
  bottom: 0;
}
.card__headline {
  font-weight: 400;
}
.card__text {
  font-size: 14px;
  line-height: 1.3;
  margin: 1rem 0;
  opacity: 0.8;
}
.card__foot {
  padding: 0 2em 2em;
  opacity: 0;
}
.card.hover .card__foot {
  opacity: 1;
}
.card__link {
  font-size: 14px;
  color: currentColor;
  border-bottom: 1px solid #d6d6d6;
}
.card__border {
  width: 100%;
  height: 7px;
  background: teal;
  transform: scaleY(0);
  transition-property: transform;
}
.card.hover .card__border {
  transform: none;
}
.author {
  align-items: center;
}
.author__image {
  flex-shrink: 0;
  margin-right: 1em;
  width: 70px;
  height: auto;
}
.author__content {
  display: grid;
  font-size: 1em;
}
.ncrd,
.video-overlay {
  display: flex;
  justify-content: center;
}
.author__header {
  margin: 0;
  font-weight: 600;
}
.author__subheader {
  margin: 0;
  opacity: 0.8;
}
.video-container {
  position: relative;
  width: 45vw;
  height: 332px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 20px;
  margin-left: 2rem;
}
.video,
.video-overlay {
  position: absolute;
  height: 100%;
  border-radius: 20px;
  width: 100%;
}
.video-container:hover {
  box-shadow: 10px 10px 25px 3px gray;
}
.video-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  margin-left: 5000px;
}
.item,
.nav-left,
.video {
  left: 0;
}
.fa-play-circle {
  font-size: 5em;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
.video-container:hover .fa-play-circle {
  transform: scale(1.2);
}
.video {
  top: 0;
  object-fit: cover;
}
.item-ativo1 img {
  width: 100%;
  height: auto;
}
.wrap {
  width: auto;
  height: 25rem;
  margin: 0 auto;
  position: relative;
}
.item {
  position: absolute;
  top: 0;
  display: none;
}
#btns,
.news,
.overflow {
  display: flex;
}
.nav,
.nav-left,
.nav-right {
  position: absolute;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 2;
  border: 0;
  color: #fff;
  cursor: pointer;
  top: 18rem;
  margin: 1rem;
}
#leftBtn,
#rightBtn,
.navigation li {
  border-radius: 50%;
}
#navs {
  font-size: 10px;
  top: 25rem;
}
.nav-right {
  right: 0;
}
.navigation {
  position: absolute;
  top: 10px;
  left: 90%;
}
.navigation li {
  list-style: none;
  height: 6px;
  width: 6px;
  float: left;
  color: #fff;
  padding: 4px;
  background: rgba(187, 187, 187, 0.1);
  cursor: pointer;
  margin-right: 1px;
}
.nav-li-marcado {
  background: grey !important;
}
.slider-timer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: #00093c;
  height: 5px;
}
.right1 {
  color: #fff;
  padding: 3rem;
}
.news {
  margin: 4rem 0;
}
.cons {
  background-color: #005353;
  color: #fff;
  padding: 3.5rem 4rem;
}
.cons #naevents {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
}
.cons #namonths {
  font-size: 1rem;
  color: #c3d5d8;
}
.overflow {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.line-after,
.line-after span h6 {
  display: block;
  position: relative;
}
.overflow::-webkit-scrollbar {
  display: none;
  width: 0;
}
.overflow .qq {
  margin: 1.3rem;
  padding: 2rem;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.overflow .qq #q {
  float: left;
  font-size: 12px;
  background-color: #dcdcdc;
  border-radius: 8px;
  padding: 0.75rem;
}
.overflow .qq #qimg {
  width: auto;
  height: 16rem;
  border-radius: 5px;
}
.overflow .qq #qtitle {
  color: teal;
}
.overflow .qq #qdate {
  margin: 1rem 0;
  font-weight: 600;
  color: #7f7f7f;
}
.overflow .qq #qcontent {
  font-size: 12px;
}
.line-after {
  margin-top: 4rem;
  overflow: hidden;
}
.line-after span h6:after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  margin-left: 2rem;
  border-top: 2px solid #000;
}
#btns {
  margin-top: 8rem;
}
#leftBtn {
  margin: auto;
}
#leftBtn i,
#rightBtn i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  color: #000;
  cursor: pointer;
}
#rightBtn {
  margin: auto 0;
}
@media only screen and (max-width: 768px) {
  .nae,
  .ncrd {
    display: grid;
  }
  .item-ativo1 img,
  body {
    width: 100%;
  }
  .scroll-list__wrp {
    width: 19rem;
    height: 27rem;
    overflow: auto;
    background: linear-gradient(140deg, #1a1a1a, #00093c);
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px 0 rgba(41, 53, 108, 0.25);
    padding: 25px;
  }
  .ncrd {
    justify-content: center;
  }
  .navigation {
    position: absolute;
    top: 10px;
    left: 77%;
  }
  #naepost,
  .eventandupdates,
  .gradient-box img,
  .ukn {
    display: none;
  }
  .gradient-box,
  .principal-message {
    display: flex;
    flex-direction: column;
  }
  .gradient-box {
    height: 100%;
    width: 85%;
  }
  .gradient-box i {
    font-size: 2rem;
  }
  .gradient-box h3 {
    font-size: 2rem;
    object-fit: cover;
  }
  .gradient-box h5 {
    font-size: 1.2rem;
  }
  .gradient-box .right1 {
    padding: 1.5rem;
  }
  .admissions-content {
    margin: 2rem;
  }
  .video-container {
    width: 75vw;
  }
  .wrapper-scroll {
    margin: 0.4rem 2.5rem;
  }
  .scroll-list {
    margin-top: 20px;
  }
  .wrap {
    margin: 0;
  }
  .principal-message {
    text-align: justify;
  }
  .principal-message img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }
  .principal-content {
    margin-left: 0;
  }
  .news {
    flex-direction: column;
  }
  .overflow .qq #qimg {
    height: 8rem;
  }
}
@media (min-width: 800px) and (max-width: 920px) {
  .map {
    margin: 0 14px;
  }
  .maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .campus-content,
  .principal-message {
    flex-direction: column;
    display: flex;
  }
  .principal-content {
    margin: auto;
  }
  .principal-message {
    padding: 2em;
    text-align: justify;
  }
  #homepage-slider img {
    height: 30vh;
  }
  .campus-content {
    margin: auto;
    width: 90%;
  }
  #rightbox img {
    width: 18rem;
    height: auto;
  }
  .copyrights {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 930px) and (max-width: 1200px) {
  .navbar-nav::after {
    left: 25%;
  }
  .copyrights {
    text-align: center;
    font-size: 13px;
  }
  #rightbox img {
    margin: auto auto 3rem;
  }
  #rightbox .social,
  .achieve,
  .events,
  .gradient-box .line,
  .gradient-box img {
    display: none;
  }
  .map {
    margin: 0 14px;
  }
  .mapfooter,
  .principal-content {
    margin: auto;
  }
  .gradient-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
  }
  .col-md-3,
  .mobile .card,
  iframe {
    width: 100%;
  }
  .gradient-box h3 {
    font-size: 2.5rem;
    padding: 0;
    object-fit: cover;
  }
  .card-contente a,
  .gradient-box h5 {
    font-size: 1.5rem;
  }
  .admissions-content {
    padding: 1rem 0 1rem 1rem;
    margin: auto;
  }
  .admissions-contact-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .principal-message {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .principal-message img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }
  iframe {
    margin-bottom: 2rem;
  }
  .mobile {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1300px) and (max-width: 1920px) {
  .gradient-box {
    height: 35vh;
  }

  .item-ativo1 img {
    width: 100vw;
    height: 50vh;
  }
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .wrap{
    height: 28rem;
  }

  #item1 embed{
    width: auto;
  }
}
/* animation */

#item1 embed {
  width: 100vw;
  height: 50vh;
}

.container ul,.container li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.container li {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.moving-list{
  width:30rem;
  margin-top: 3rem !important;
}

.buttons{
  display: flex;
  justify-content: center;
}

.moving-list button{
  width:10rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
}

.event-button{
  background-color: pink;

}
.notif-button{
  background-color: rgb(192, 198, 255);
}

.data-list {
  height: 26rem;
  
  /* padding: 5rem; */
  overflow-y: hidden;
  background-color: #003f7e;
  border: 1px solid #7a7a7a;
  border-radius: 2px;
}

.data-list li{
  padding: 3rem 0.25rem ;
  /* border: 2px solid #7a7a7a; */
  background-color: white;
  margin:0.75rem 0.5rem ;
}

.video-list{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: space-around;
}

.video-item{
  display: flex;
  
}

.video-item p{
  margin-left: 2rem;
  width: 40%;
  text-align: justify;
  font-weight: bold;
  font-size: 13px
}

.all-dignitaries img{
  width:10rem; height: 10rem;
  margin-right: 3rem;
}

.all-dignitaries{
  display: flex;
  
}

.all-dignitaries h5{
  margin-top: 2rem;
}

.dignitary-content{
  border-radius: 3px;
  background-color: #e7e7e7;
  padding:4rem 3rem;
  display: flex;
  font-size: 15px;
  width: 80%;
  
  align-items: center;
}