@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}

#loadscreen {
  position: fixed;
  width: 80%;
  height: auto;
  background: #fafafa url(loading.gif) no-repeat center;
  z-index: 99999;
}

body {
  font-family: "Poppins";
  overflow-x: hidden;
}

#homepage-slider img {
  height: 70vh;
}

.effectsmall {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 0.35rem;
  padding: 3px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.effect:hover {
  border: 1px solid #000000;
  background: rgb(0, 173, 0);
  transition: 1.4s;
}

/* Visit us to know more button */
.effect {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;

  font-weight: 600;
}
.effect:hover {
  background-color: rgb(72, 108, 226);
  transition: 1s;
  color: white;
}
nav .fa {
  display: none;
}
/* .nav-links img {
  display: none;
} */

/* Mobile drop down style menu */
.mobile {
  display: none;
}

/* color changing box */
.gradient-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(-45deg, #ff0f5b, #ff0000, #1a53ff, #002699);
  height: 44vh;
  position: relative;
  overflow: hidden;
  width: 92%;
  background-size: 400% 400%;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: Transitionbg;
}

@keyframes Transitionbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-box i {
  padding: 0.3rem;
}

.max {
  max-width: 35%;
  display: flex;
  flex-direction: row;
}

.admissions-content {
  margin: 0 2rem 0 4rem;
  /* padding-top: 1.5rem; */
  color: white;
}
.admissions-content h3 {
  font-size: 35px;
}

/* 
.admissions-contact-details {
  display: flex;
  padding-top: 33px;
} */
.admissions-contact-details h6 {
  padding-right: 1rem;
}

.line {
  color: white;
  background-color: white;
  width: 0.1rem;
  height: 20%;
}

.campus-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.principal-message img {
  background-color: rgb(241, 241, 241);
  padding: 2rem;
  width: 60rem;
  height: 30rem;
  border-radius: 8px;
}

.principal-message {
  padding: 2rem;
  text-align: justify;
  display: flex;
  flex-direction: row;
}

.principal-content {
  font-size: 12.5px;
  background-color: rgb(241, 241, 241);
  padding: 3rem;
  margin-left: 1rem;
  border-radius: 8px;
}

.carde {
  position: relative;
  margin-right: 1.5rem;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

.carde .card-mediae {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.carde .card-mediae img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 10px;
}

.carde:hover .card-mediae img {
  transform: scale(1.05);
}

.carde .card-mediae::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0);
  transition: all 0.3s;
  z-index: 1;
}

.carde:hover .card-mediae::before {
  background-color: #161616ef;
}

.carde .card-contente {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding: 40px;
  opacity: 0;
  transition: all 0.3s;
  margin-bottom: 9rem;
}

.carde:hover .card-contente {
  opacity: 1;
}

.carde .card-contente .card-headere .card-datee {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.carde .card-contente .card-headere h3 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 35px;
}

.carde .card-contente .card-headere h3 a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.carde .card-contente .card-headere h3 a:hover {
  color: rgb(0, 162, 255);
}

.carde .card-contente .card-footere {
  position: absolute;
  /* margin-top: 100px; */
  bottom: 5%;
  width: 50%;
  /* margin-bottom: 2rem; */
}

.carde .card-contente .card-footere .read-more-linke {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.carde .card-contente .card-footere .read-more-linke:hover {
  color: rgb(0, 162, 255);
}

.carde .read-more-linke svg {
  height: 10px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.carde .read-more-linke:hover svg {
  transform: translateX(5px);
}

.carde .card-bordere span {
  display: inline-block;
  position: absolute;
  background-color: rgb(0, 162, 255);
  transition: all 0.3s linear;
  z-index: 2;
}

.carde .card-bordere span.top {
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.carde .card-bordere span.right {
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.carde .card-bordere span.bottom {
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.carde .card-bordere span.left {
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

.carde:hover .card-bordere span.top {
  transform: scaleX(1);
}

.carde:hover .card-bordere span.right {
  transform: scaleY(1);
  transition-delay: 0.3s;
}

.carde:hover .card-bordere span.bottom {
  transform: scaleX(1);
  transition-delay: 0.6s;
}

.carde:hover .card-bordere span.left {
  transform: scaleY(1);
  transition-delay: 0.9s;
}

/* Events and achievements */

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

/* h2:after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #000;
  margin: 1rem;
} */

.card {
  transition: all 0.3s ease-in-out;
}
.card a {
  text-decoration: none;
  color: #000;
}

.lead {
  font-weight: 500;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.float {
  position: fixed;
  width: 100px;
  height: 40px;
  bottom: 95px;
  right: 0px;
  background-color: #00093c;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  z-index: 1;
}
.float:hover {
  color: yellow;
}

.float p {
  margin-top: 10px;
  font-size: small;
}

/* eazy lib,  d-book store, nptel,  ieee*/

@keyframes autoScrolling {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -20em;
  }
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.list-group-item {
  height: 6rem;
}

.activeColor {
  background: linear-gradient(to right, #1a1a1a, #00093c);
  border-radius: 10px 10px 0 0;
}
.inactiveColor {
  background-color: rgb(162, 135, 0);
  border-radius: 10px 10px 0 0;
}
.nae {
  display: flex;
}

.nae1 ul {
  list-style-type: none;
  padding: 17px;
}
.nae1 img {
  width: 20rem;
  height: auto;
  margin: 0.4rem;
  border-radius: 4px;
  padding: 0.5rem;
  background: linear-gradient(140deg, #1a1a1a, #00093c);
}

.ukn {
  z-index: 999;
  position: fixed;
  width: 36px;
  top: 470px;
  transition: all 0.2s linear;
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4); */
  background-color: rgba(0, 0, 0, 0.7);
  /* border-right: 4px solid rgba(0, 0, 0, .4); */
  /* border-bottom: .5px solid rgba(0,0,0,.4);; */
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.ukn li {
  height: 40px;
  position: relative;
}

.ukn li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1.2rem;
  /* border-bottom: 1px solid rgba(0,0,0,.4); */
  /* border-top: 1px solid rgba(0,0,0,.4); */
  transition: all 0.1s linear;
  /* border-bottom-right-radius: 12px;
     border-top-right-radius: 12px; */
}

.ukn li:nth-child(1) a:hover {
  background: #4267b2;
  color: #4267b2;
}

.ukn li:nth-child(2) a:hover {
  background: #1da1f2;
  color: #1da1f2;
}

.ukn li:nth-child(3) a:hover {
  background: #be1e53;
  color: #be1e53;
}

.ukn li:nth-child(4) a:hover {
  background: #2867b2;
  color: #2867b2;
}

.ukn li:nth-child(5) a:hover {
  background: #ff0000;
  color: #ff0000;
}

.ukn li a i {
  position: absolute;
  top: 15px;
  left: -1.2rem;
  font-size: 14px;
}

.ukn ul li a span {
  font-size: 12px;
  transition: all 0.2s linear;
  display: none;
  transition: all 0.15s linear;
  /* margin-top: 4px; */
}

.ukn a:hover {
  margin-left: 0.5rem;
  z-index: 1;
  width: 130px;
  border-radius: 0.7rem;
  padding-left: 2rem;
}

.ukn ul li:hover a span {
  color: white;
  display: block;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper-scroll {
  margin: 0.4rem 3.5rem 0;
}

.scroll-list {
  width: 30%;
}

.scroll-list__wrp {
  width: 30rem;
  height: 42rem;
  overflow: auto;
  padding: 2rem;
  background: linear-gradient(140deg, #1a1a1a, #00093c);
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 8px 8px 10px 0px rgba(41, 53, 108, 0.25);
}

.scroll-list__wrp .scrollbar-track {
  display: none !important;
}

.scroll-list__item {
  width: 100%;
  height: 190px;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  background: white;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.5);
  box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);
}
.scroll-list__item.item-hide {
  opacity: 0;
  transform: scale(0.7);
}
.scroll-list__item.item-focus {
  opacity: 1;
  transform: scale(1);
}
.scroll-list__item.item-next {
  opacity: 1;
  transform: scale(1);
}
.scroll-list__item.item-next + .scroll-list__item {
  opacity: 1;
  transform: scale(1);
}
.scroll-list__item:last-child {
  margin-bottom: 155px;
}

.snip {
  display: flex;
  margin-bottom: 6rem;
}
.snip1529 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  line-height: 1.4em;
  margin: 10px;
  max-width: 310px;
  min-width: 250px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1529 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1529 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  opacity: 0.75;
}

.snip1529 figcaption {
  padding: 25px 20px 25px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.snip1529 .date {
  background-color: #fff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  min-width: 48px;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

.snip1529 .date span {
  display: block;
  line-height: 14px;
}

.snip1529 .date .month {
  font-size: 11px;
}

.snip1529 h4,
.snip1529 p {
  margin: 0;
  padding: 0;
}

.snip1529 h3 {
  font-weight: 800;
  letter-spacing: -0.4px;
}

.snip1529 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(0, 128, 128, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1529 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1529:hover .hover,
.snip1529.hover .hover {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 1;
}

.snip1529:hover figcaption,
.snip1529.hover figcaption {
  opacity: 0;
}

.snip1529:hover .date,
.snip1529.hover .date {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.card {
  margin: 3rem 1rem 3rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 450px;
  background: white;
  text-decoration: none;
  overflow: hidden;
  transition-delay: 0.15se;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.card.hover {
  color: white;
}
.card,
.card__image,
.card__image::after,
.card__author,
.card__body,
.card__foot,
.card__border {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.51, 0.92, 0.24, 1);
}
.card__head {
  position: relative;
  padding-top: 100%;
}
.card__author {
  position: absolute;
  padding: 1em;
  left: 0;
  bottom: 0;
  color: white;
  transition-property: transform;
  transition-delay: 0.15s;
}
.card.hover .card__author {
  transition-delay: 0;
}
.card__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-image: url("/public_html/images/logolong.jpeg");
  transform-origin: top center;
  transition-delay: 0.15s;
}
.card__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: linear-gradient(
    30deg,
    rgba(47, 47, 47, 0.85),
    rgba(0, 0, 0, 0.5)
  );
  transition-property: opacity;
  transition-delay: 0.15s;
}
.card.hover .card__image {
  transition-delay: 0.15s;
}
.card.hover .card__image::after {
  opacity: 1;
  transition-delay: 0.15s;
}
.card__body {
  position: relative;
  padding: 0.75rem 2rem 0.75rem;
  transition-delay: 0.15s;
}

.card.hover .card__body {
  transition-delay: 0.15s;
}
.card__headline {
  font-weight: 400;
}
.card__text {
  font-size: 14px;
  line-height: 1.3;
  margin: 1rem 0 1rem;
  opacity: 0.8;
}
.card__foot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 2em 2em;
  opacity: 0;
  transition-property: opacity;
}
.card.hover .card__foot {
  opacity: 1;
  transition-delay: 0.15s;
}
.card__link {
  font-size: 14px;
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid #d6d6d6;
}
.card__border {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: teal;
  transform: scaleY(0);
  transition-property: transform;
}
.card.hover .card__border {
  transform: none;
  transition-delay: 0.15s;
}

.author {
  display: flex;
  align-items: center;
}
.author__image {
  flex-shrink: 0;
  margin-right: 1em;
  width: 70px;
  height: auto;
  overflow: hidden;
}
.author__content {
  display: grid;
  font-size: 1em;
}
.author__header {
  margin: 0;
  font-weight: 600;
}
.author__subheader {
  margin: 0;
  opacity: 0.8;
}

.ncrd {
  display: flex;
  justify-content: center;
}

.ncrd a {
  transition-delay: 0;
  color: #000;
}

.video-container {
  position: relative;
  width: 622px;
  height: 332px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
  border-radius: 20px;
  left: 40px;
}

.video-container:hover {
  box-shadow: 10px 10px 25px 3px gray;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 20px;
  margin-left: 5000px;
}

.video-container:hover .video-overlay {
  opacity: 1;
}

.fa-play-circle {
  font-size: 5em;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.video-container:hover .fa-play-circle {
  transform: scale(1.2);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* homepage slider */

.item-ativo1 img {
  width: auto;
  height: 65vh;
}

.wrap {
  width: auto;
  height: 440px;
  margin: 0 auto;
  position: relative;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.nav,
.nav-left,
.nav-right {
  position: absolute;
  top: 0;
  height: 10%;
  width: 45px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 2;
  border: 0;
  color: #fff;
  cursor: pointer;
  top: 10rem;
  margin: 1rem;
}

#navs {
  font-size: 10px;
  top: 25rem;
}

.nav-left {
  left: 0;
}

.nav-right {
  right: 0;
}

.navigation {
  position: absolute;
  top: 10px;
  left: 90%;
}

.navigation li {
  list-style: none;
  height: 6px;
  width: 6px;
  float: left;
  color: #fff;
  padding: 4px;
  background: rgba(187, 187, 187, 0.1);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1px;
}

.nav-li-marcado {
  background: grey !important;
}

.slider-timer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: teal;
  height: 5px;
}

.right1 {
  color: white;
  padding: 3rem;
}

/* media queries */

@media only screen and (max-width: 768px) {
  .nae {
    display: grid;
  }
  .scroll-list {
    margin-top: 19px;
  }
  .scroll-list__wrp {
    width: 19rem;
    height: 27rem;
    overflow: auto;
    padding: 2rem;
    background: linear-gradient(140deg, #1a1a1a, #00093c);
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 8px 8px 10px 0px rgba(41, 53, 108, 0.25);
  }
  .ncrd {
    display: grid;
    justify-content: center;
  }
  .navigation {
    position: absolute;
    top: 10px;
    left: 77%;
  }
  .navigation {
    position: absolute;
    top: 10px;
    left: 77%;
  }
  .ukn {
    display: none;
  }

  .gradient-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
  }

  .gradient-box img {
    display: none;
  }

  .gradient-box i {
    font-size: 2rem;
  }

  .gradient-box h3 {
    font-size: 2rem;
    /* text-align: center; */
    object-fit: cover;
  }

  .gradient-box h5 {
    font-size: 1.2rem;
  }

  .gradient-box .right1 {
    padding: 1.5rem;
  }

  .admissions-content {
    margin: 2rem 2rem;
  }

  .eventandupdates {
    display: none;
  }

  .video-container {
    width: 75vw;
  }

  #naepost {
    display: none;
  }

  .wrapper-scroll {
    margin: 0.4rem 2.5rem;
  }

  .scroll-list {
    margin-top: 20px;
  }

  .scroll-list__wrp {
    padding: 25px;
  }
  .wrap {
    margin: 0;
  }

  .principal-message {
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  .principal-message img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }

  .principal-content {
    margin-left: 0;
  }
}

@media (min-width: 800px) and (max-width: 920px) {
  .map {
    margin: 0 14px 0;
  }
  .maincontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .principal-content {
    margin: auto;
  }
  .principal-message {
    padding: 2em;
    text-align: justify;
    display: flex;
    flex-direction: column;
  }

  #homepage-slider img {
    height: 30vh;
  }
  .campus-content {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  #rightbox img {
    width: 18rem;
    height: auto;
  }

  .copyrights {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 930px) and (max-width: 1200px) {
  .copyrights {
    text-align: center;
  }
  #rightbox img {
    margin: auto;
    margin-bottom: 3rem;
  }
  #rightbox .social {
    display: none;
  }

  .map {
    margin: 0 14px 0;
  }
  .mapfooter {
    margin: auto;
  }
  .principal-content {
    margin: auto;
  }
  .gradient-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 85%;
  }
  .gradient-box img,
  .gradient-box .line {
    display: none;
  }

  .gradient-box h3 {
    font-size: 2.5rem;
    padding: 0;
    /* text-align: center; */
    object-fit: cover;
  }

  .gradient-box h5 {
    font-size: 1.5rem;
    /* text-align: center; */
  }

  .admissions-content {
    padding: 1rem 0 1rem 1rem;
    margin: auto;
  }
  .admissions-contact-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .principal-message {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .principal-message img {
    width: auto;
    height: auto;
    margin-bottom: 2rem;
  }

  .mobile .card {
    width: 100%;
  }

  iframe {
    width: 100%;
    margin-bottom: 2rem;
  }

  .col-md-3 {
    width: 100%;
  }

  .events {
    /* grid-column: span 2;
  grid-row: span 2; */
    display: none;
  }

  .achieve {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
  }

  .card-contente a {
    font-size: 1.5rem;
  }

  .copyrights {
    font-size: 13px;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .item-ativo1 img {
    width: auto;
    height: 66.3vh;
  }

  .item-ativo1 img {
    width: auto;
    height: 55.3vh;
  }
  .navbar-nav::after {
    position: absolute;
    content: "";
    left: 20%;
    top: 0;
    border-style: solid;
    border-color: #00093c transparent #00093c transparent;
    border-width: 3.5rem 0 0 3.5rem;
  }
}
