@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Marcellus+SC&family=Nunito&display=swap");
@import url("http://fonts.cdnfonts.com/css/geomanist");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #ffffff;
  font-family: "Poppins", serif;
}

/* .headimg { */
/* Aps logo on top */
/* margin-top: 0.4rem;
	margin-left: 1.5rem;
	position: absolute;
	height: auto;
	width: 12%;
	z-index: 999;
  }
  
  .navbar-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 1.5rem;
  }
  
  .navbar {
	background: linear-gradient(270deg,#2d0b00 8%, #00093c 35%, rgb(255, 255, 255) , #fff);
	padding-right: 4.5rem;
  }
  
  .navbar-custom .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
	color: rgb(0, 207, 180);
	display: flex;
  }
  
  .nav-item{
	display: inline-block;
	font-family: 'Lato';
  }
  .nav-link{
	color: white;
	text-decoration: none;
	padding-left: 3rem;
  }
  
  nav {
	position: relative;
	z-index: 99;
	width: 100%;
	background: #fff;
  }
  nav .wrapper {
	position: relative;
	max-width: 1300px;
	padding: 0rem 4rem 0rem;
	height: 50px;
	line-height: 80px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }
  
  .wrapper .nav-links {
	display: inline-flex;
	
  }
  .nav-links li {
	list-style: none;
	
  }
  .nav-links li a {
	
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 0 1rem;
	border-radius: 3px;
	transition: all 0.3s ease;
	font-family: "Poppins";
	
  } */
/* .desktop-item::after {
	content: "";
	width: 100%;
	height: 4px;
	background: #00ff88;
	display: block;
	position: relative;
	bottom: 3.95rem;
	margin: 1px;
	transition: 0.4s;
  }
  .desktop-item:hover::after {
	width: 100%;
  } */
/* .nav-links li a:hover {
	background: #fff;
	color: red;
  }
  .nav-links .mobile-item {
	display: none;
  }
  
  .nav-links li:hover .mega-box {
	
	top: 50px;
	/* Distance between mega box and nav links */
/* opacity: 1;
	visibility: visible;
  }
  
  
  .mega-box {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 30px;
	top: 0px;
	opacity: 0;
	visibility: hidden;
	
  }
  .mega-box .content {
	background: rgb(236, 236, 236);
	padding: 25px 3rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
	font-family: 'Poppins';
	
  }
  .mega-box .content .row {
	width: calc(25% - 5px);
	line-height: 45px;
  }
  .content .row img {
	width: 100%;
	height: auto;
	/* object-fit: cover; */
/* }
  
  .content .row header {
	color: rgb(107, 107, 107);;
	font-size: 20px;
	font-weight: 500;
  }
  .content .row .mega-links {
	margin-left: -40px;
	border-right: 1px solid rgba(255, 255, 255, 0.09);
  }
  .row .mega-links li {
	padding: 0 1rem;
	
  }
  .row .mega-links li a {
	padding: 0px;
	padding: 0 30px;
	color: rgb(107, 107, 107);
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	display: block;
	/* width: 100%;
	height: 100%; 
  }*/
/*.row .mega-links li a:hover {
	color: #000;
  }
  .wrapper .btn {
	color: #000;
	font-size: 20px;
	cursor: pointer;
	display: none;
  }
  .wrapper .btn.close-btn {
	position: absolute;
	right: 30px;
	top: 10px;
  } */

/*@media screen and (max-width: 970px) {
	.wrapper .btn {
	  display: block;
	}
	.wrapper .nav-links {
	  position: fixed;
	  height: 100vh;
	  width: 100%;
	  max-width: 350px;
	  top: 0;
	  left: -100%;
	  background: #242526;
	  display: block;
	  padding: 50px 10px;
	  line-height: 50px;
	  overflow-y: auto;
	  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
	  transition: all 0.3s ease;
  
	}
	/* custom scroll bar */
/*::-webkit-scrollbar {
	  width: 10px;
	}
	::-webkit-scrollbar-track {
	  background: #242526;
	}
	::-webkit-scrollbar-thumb {
	  background: #3a3b3c;
	}
	#menu-btn:checked ~ .nav-links {
	  left: 0%;
	}
	#menu-btn:checked ~ .btn.menu-btn {
	  display: none;
	}
	#close-btn:checked ~ .btn.menu-btn {
	  display: block;
	}
	.nav-links li {
	  margin: 15px 10px;
	}
	.nav-links li a {
	  padding: 0 20px;
	  display: block;
	  font-size: 20px;
	}
	.nav-links .drop-menu {
	  position: static;
	  opacity: 1;
	  top: 65px;
	  visibility: visible;
	  padding-left: 20px;
	  width: 100%;
	  max-height: 0px;
	  overflow: hidden;
	  box-shadow: none;
	  transition: all 0.3s ease;
	}
  
	#homepage-slider img {
	  height: 50vh;
	}
  
	#showDrop:checked ~ .drop-menu,
	#showMega:checked ~ .mega-box {
	  max-height: 100%;
	}
	.nav-links .desktop-item {
	  display: none;
	}
	.nav-links .mobile-item {
	  display: block;
	  color: #f2f2f2;
	  font-size: 20px;
	  font-weight: 500;
	  padding-left: 20px;
	  cursor: pointer;
	  border-radius: 5px;
	  transition: all 0.3s ease;
	}
	.nav-links .mobile-item:hover {
	  background: #3a3b3c;
	}
	.drop-menu li {
	  margin: 0;
	}
	.drop-menu li a {
	  border-radius: 5px;
	  font-size: 18px;
	}
	.mega-box {
	  position: static;
	  top: 65px;
	  opacity: 1;
	  visibility: visible;
	  padding: 0 20px;
	  max-height: 0px;
	  overflow: hidden;
	  transition: all 0.3s ease;
	}
	.mega-box .content {
	  box-shadow: none;
	  flex-direction: column;
	  padding: 20px 20px 0 20px;
	}
	.mega-box .content .row {
	  width: 100%;
	  margin-bottom: 15px;
	  border-top: 1px solid rgba(255, 255, 255, 0.08);
	}
	.mega-box .content .row:nth-child(1),
	.mega-box .content .row:nth-child(2) {
	  border-top: 0px;
	}
	.content .row .mega-links {
	  border-left: 0px;
	  padding-left: 15px;
	}
	.row .mega-links li {
	  margin: 0;
	}
	.content .row header {
	  font-size: 19px;
	}
  }
  nav input {
	display: none;
  } */

.part1 {
  height: 18rem;
  background: radial-gradient(ellipse at center, #2a3a4d 0%, #090a0f 100%);
  overflow: hidden;
  font-size: 2vw;
}
.dep-content {
  display: flex;
  justify-content: space-evenly;
}
.dep-content img {
  width: auto;
  height: 16em;
}
.dep-content .ptab {
  font-family: "Poppins", serif;
  font-size: 0.9rem;
  margin-left: 28px;
}
.wait {
  display: flex;
  justify-content: space-between;
}
.wait img {
  width: auto;
  height: 16rem;
}
.wait .ptab1 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  margin-left: 28px;
}
.wait3 {
  display: flex;
  justify-content: space-around;
}
.wait3 img {
  width: auto;
  height: 20rem;
}
.wait3 .ptab3 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  margin-left: 28px;
}
.wait4 {
  display: flex;
  justify-content: space-around;
}
.wait4 img {
  width: auto;
  height: 20rem;
}
.wait4 .ptab4 {
  font-family: "Poppins", serif;
  font-size: 1rem;
  margin-left: 28px;
}

.imgtab3 {
  width: 500px;
  height: 300px;
}

.tabs {
  margin-top: 2rem;
  margin-bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  background: white;
  padding: 50px;
  padding-bottom: 80px;
  width: 90%;
  height: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs .content1 section h2,
.tabs ul li label {
  font-weight: bold;
  font-size: 18px;
  color: #428bff;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: center;
}
.tabs ul li {
  box-sizing: border-box;
  flex: 1;
  width: 50%;
  padding: 0 10px;
  text-align: center;
}
.tabs ul li label {
  transition: all 0.3s ease-in-out;
  color: #929daf;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabs ul li label br {
  display: none;
}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
  outline: 0;
  color: #000000;
}
.tabs .slider {
  position: relative;
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
  position: relative;
  width: 100px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #ff0059;
  border-radius: 4px;
}
.tabs .content1 {
  margin-top: 30px;
}
.tabs .content1 section {
  display: none;
  -webkit-animation-name: content;
  animation-name: content;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  line-height: 1.8;
}
.tabs .content1 section h2 {
  padding-bottom: 15px;
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ ul
  > li:nth-child(1)
  > label {
  cursor: default;
  color: #428bff;
}

.tabs img {
  margin: 5px 10px 0px;
}

.carde {
  position: relative;
  margin-right: 1.5rem;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}

.carde .card-mediae {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.carde .card-mediae img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  border-radius: 10px;
}

.carde:hover .card-mediae img {
  transform: scale(1.05);
}

.carde .card-mediae::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0);
  transition: all 0.3s;
  z-index: 1;
}

.carde:hover .card-mediae::before {
  background-color: #161616ef;
}

.carde .card-contente {
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding: 40px;
  opacity: 0;
  transition: all 0.3s;
  margin-bottom: 9rem;
}

.carde:hover .card-contente {
  opacity: 1;
}

/* .carde .card-contente .card-headere {
	margin-bottom: 30px;
  } */

.carde .card-contente .card-headere .card-datee {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.carde .card-contente .card-headere h3 {
  font-size: 1.5vw;
  font-weight: 500;
  line-height: 43px;
}

.carde .card-contente .card-headere h3 a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s;
}

.carde .card-contente .card-headere h3 a:hover {
  color: rgb(0, 162, 255);
}

/* .carde .card-contente .card-desce {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	line-height: 27px;
  } */

.carde .card-contente .card-footere {
  position: absolute;
  /* margin-top: 100px; */
  bottom: 5%;
  width: 50%;
  /* margin-bottom: 2rem; */
}

.carde .card-contente .card-footere .read-more-linke {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.carde .card-contente .card-footere .read-more-linke:hover {
  color: rgb(0, 162, 255);
}

.carde .read-more-linke svg {
  height: 10px;
  margin-left: 10px;
  transition: transform 0.3s;
}

.carde .read-more-linke:hover svg {
  transform: translateX(5px);
}

.carde .card-bordere span {
  display: inline-block;
  position: absolute;
  background-color: rgb(0, 162, 255);
  transition: all 0.3s linear;
  z-index: 2;
}

.carde .card-bordere span.top {
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
}

.carde .card-bordere span.right {
  width: 5px;
  height: 100%;
  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

.carde .card-bordere span.bottom {
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
}

.carde .card-bordere span.left {
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

.carde:hover .card-bordere span.top {
  transform: scaleX(1);
}

.carde:hover .card-bordere span.right {
  transform: scaleY(1);
  transition-delay: 0.3s;
}

.carde:hover .card-bordere span.bottom {
  transform: scaleX(1);
  transition-delay: 0.6s;
}

.carde:hover .card-bordere span.left {
  transform: scaleY(1);
  transition-delay: 0.9s;
}

@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(1):checked
    ~ ul
    > li:nth-child(1)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
  transform: translateX(0%);
}
.tabs
  input[name="tab-control"]:nth-of-type(1):checked
  ~ .content1
  > section:nth-child(1) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label {
  cursor: default;
  color: #428bff;
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ ul
  > li:nth-child(2)
  > label
  svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(2):checked
    ~ ul
    > li:nth-child(2)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
  transform: translateX(100%);
}
.tabs
  input[name="tab-control"]:nth-of-type(2):checked
  ~ .content1
  > section:nth-child(2) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label {
  cursor: default;
  color: #428bff;
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ ul
  > li:nth-child(3)
  > label
  svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(3):checked
    ~ ul
    > li:nth-child(3)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
  transform: translateX(200%);
}
.tabs
  input[name="tab-control"]:nth-of-type(3):checked
  ~ .content1
  > section:nth-child(3) {
  display: block;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label {
  cursor: default;
  color: #428bff;
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ ul
  > li:nth-child(4)
  > label
  svg {
  fill: #428bff;
}
@media (max-width: 600px) {
  .tabs
    input[name="tab-control"]:nth-of-type(4):checked
    ~ ul
    > li:nth-child(4)
    > label {
    background: rgba(0, 0, 0, 0.08);
  }
}
.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
  transform: translateX(300%);
}
.tabs
  input[name="tab-control"]:nth-of-type(4):checked
  ~ .content1
  > section:nth-child(4) {
  display: block;
}
@-webkit-keyframes content1 {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes content1 {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
  .tabs ul li label br {
    display: initial;
  }
  .tabs ul li label svg {
    height: 1.5em;
  }
}
@media (max-width: 800px) {
  .part1 {
    margin-top: 1rem;
  }

  #title1 span {
    font-size: 30px;
  }

  .dep-content img,
  .wait img,
  .imgtab3 {
    width: 100%;
  }
  .dep-content {
    flex-direction: column;
  }

  .wait {
    flex-direction: column;
  }

  .allcard {
    flex-direction: column;
    align-items: center;
  }

  .allcard1 {
    flex-direction: column;
    align-items: center;
  }

  .tabs ul li label {
    padding: 5px;
    border-radius: 5px;
  }
  .tabs ul li label span {
    display: none;
  }
  .tabs .slider {
    display: none;
  }
  .tabs .content1 {
    margin-top: 20px;
  }
  .tabs .content1 section h2 {
    display: block;
  }
}

.card5 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card5:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card5 .image5 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image5 img {
  height: 90%;
  width: 100%;
  transition: 0.6s;
}
.card5:hover .image5 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card5 .content5 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content5 .title5 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content5 .sub-title5 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom5 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom5 {
  display: none;
}

.card51 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;

  margin-left: 10px;
}
.card51:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card51 .image51 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image51 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card51:hover .image51 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card51 .content51 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content51 .title51 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content51 .sub-title51 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom51 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom51 {
  display: none;
}
.allcard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.card52 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card52:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card52 .image52 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image52 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card52:hover .image52 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card52 .content52 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content52 .title52 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content52 .sub-title52 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom52 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom52 {
  display: none;
}

.card53 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card53:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card53 .image53 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image53 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card53:hover .image53 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card53 .content53 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content53 .title53 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content53 .sub-title53 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom53 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom53 {
  display: none;
}

.card54 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card54:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card54 .image54 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image54 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card54:hover .image54 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card54 .content54 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content54 .title54 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content54 .sub-title54 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom54 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom54 {
  display: none;
}

.card55 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card55:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card55 .image55 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image55 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card55:hover .image55 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card55 .content55 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content55 .title55 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content55 .sub-title55 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom55 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom55 {
  display: none;
}
.allcard1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  /* margin-left: 2.2rem; */
}

.card56 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card56:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card56 .image56 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image56 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card56:hover .image56 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card56 .content56 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content56 .title56 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content56 .sub-title56 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom56 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom56 {
  display: none;
}

.card57 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
  margin-left: 20px;
  margin-right: 20px;
}
.card57:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card57 .image57 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image57 img {
  height: 80%;
  width: 100%;
  transition: 0.6s;
}
.card57:hover .image57 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card57 .content57 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content57 .title57 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content57 .sub-title57 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom57 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom57 {
  display: none;
}

.card58 {
  position: relative;
  height: 350px;
  width: 280px;
  display: block;
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  transition: 0.18s linear;
}
.card58:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.card58 .image58 {
  background: #000;
  height: 350px;
  overflow: hidden;
}
.image58 img {
  height: 90%;
  width: 100%;
  transition: 0.6s;
}
.card58:hover .image58 img {
  opacity: 0.6;
  transform: scale(1.1);
}
.card58 .content58 {
  position: absolute;
  bottom: 0px;
  background: rgb(243, 243, 243);
  width: 100%;
  text-align: center;
  padding: 7px 7px;
}
.content58 .title58 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.content58 .sub-title58 {
  font-size: 14px;
  font-weight: 500;
  color: #ff0059;
  margin-bottom: 10px;
}
.bottom58 p {
  color: #666;
  font-size: 16px;
  text-align: justify;
  line-height: 2em;
  padding: 0 12px 0;
}
/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom58 {
  display: none;
}

.newsandannouncement h1 {
  margin-bottom: 5rem;
}

/* footer */
footer {
  bottom: 0px;
  width: 100%;
  background: linear-gradient(to right, #2d0b00, #00093c);
  color: #fff;
  border-top-right-radius: 4rem;
}
#rightbox img {
  width: 22vw;
  height: auto;
}
#centerbox .content {
  font-family: "Poppins", serif;
  color: white;
}
.maincontent {
  display: flex;
  padding-bottom: 4rem;
  padding-top: 3rem;
  justify-content: space-around;
}
.maincontent #leftbox {
  font-family: "Poppins", serif;
  text-align: left;
  padding: 10px 20px;
}
.maincontent .box a {
  display: flex;
  flex-direction: column;
}
.box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 1rem 2rem 1rem;
}
.box .content {
  margin: 1rem 2rem 1rem;
}
.right .social {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding-top: 2rem;
  padding-left: 0.7rem;
}
.right .social a {
  padding: 0 0.5rem;
}
.right .social a i {
  height: 40px;
  width: 45px;
  color: rgb(204, 204, 204);
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  transition: 0.3s;
}
.right .social a i:hover {
  padding-top: 5px;
}
#centerbox .content .place .text {
  color: rgb(204, 204, 204);
  line-height: 55px;
}
#centerbox .content .phone .text {
  color: rgb(204, 204, 204);
  line-height: 40px;
}
#centerbox .content .mail .text {
  color: rgb(204, 204, 204);
  line-height: 40px;
}
#centerbox .content .place i {
  padding-right: 10px;
}
#centerbox .content .phone i {
  padding-right: 10px;
}
#centerbox .content .mail i {
  padding-right: 10px;
}
#centerbox .content i {
  height: 40px;
  width: 40px;
  color: rgb(204, 204, 204);
  line-height: 55px;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.3s ease;
}
#centerbox .content i:hover {
  text-align: center;
  padding: 0 0.5rem 0px;
}
#leftbox .content a {
  font-size: 1rem;
  color: whitesmoke;
  line-height: 44px;
  transition: 0.3s ease;
}
#leftbox .content a:hover {
  padding-left: 8px;
}

.heading5 hr {
  width: 25%;
  margin: auto;
  margin-top: 0.5rem;
  border: 3px solid rgb(255, 0, 0);
  border-radius: 1rem;
}

.parent-container {
  width: 80%;
  margin: auto;
}

.faq {
  list-style: none;
  text-align: left;
}
.faq li {
  border-bottom: 1px solid #999999;
  margin-bottom: 15px;
}
.faq li.active .answer {
  max-height: 275px !important;
  padding-bottom: 25px;
  transition: max-height 0.4s ease;
}
.faq li.active .question {
  color: #808080;
  transition: color 0.5s ease;
}
.faq .answer {
  color: #090909;
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}
.faq .plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: absolute;
  width: 21px;
  left: -40px;
  top: 50%;
  z-index: 2;
}
.faq .plus-minus-toggle:before,
.faq .plus-minus-toggle:after {
  background: #000;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}
.faq .plus-minus-toggle:after {
  transform-origin: center;
}
.faq .plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.faq .plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}
.faq .question {
  color: #090909;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding: 20px 0;
  transition: color 0.5s ease;
}
@media screen and (max-width: 767px) {
  .faq .question {
    font-size: 18px;
  }
}

#title1 {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-size: 55px;
  margin: 5rem 0 5rem;
  font-family: "Geomanist", sans-serif;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);

  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #222;
    font-size: 20px;
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:pink;
} */

.container {
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  width: 1000px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box1 {
  border-radius: 5px;
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
}

.box1 .imgBox {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box1 .imgBox img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.box1:hover .imgBox img {
  opacity: 0;
}

.box1 .content {
  border-radius: 3px;
  position: absolute;
  bottom: 16px;
  left: 10%;
  width: 80%;
  height: 30px;
  background: #fff;
  transition: 0.4s;
  overflow: hidden;
}
.profile {
  padding: 1.5rem;
  margin: auto;
}

.box1:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box1 .content h3 {
  font-size: 14px;
}

.box1:hover .content h3 {
  display: none;
}

/* .box1 .content p{
    margin: 10px 0 0;
    padding: 0;
    opacity: 0;
    line-height: 1.2;
    transition: 0.5s;
    text-align: justify;
}

.box1:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
} */

.intro {
  margin: 0.5rem 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 .content .hover-card {
  opacity: 0;
  transition: 0.4s;
}

.box1:hover .content .hover-card {
  opacity: 1;
  transition-delay: 0.4s;
}

.profile h2 {
  margin-top: 30px;
  color: #000;
}

.profile p {
  font-size: 12px;
  text-align: justify;
  margin-top: 2rem;
}

.social {
  display: flex;
  margin-top: 2rem;
  justify-content: space-around;
}

.social i {
  font-size: 22px;
}

@media only screen and (max-width: 960px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .box1 {
    margin: 30px;
  }
}
