.headimg {
	/* Aps logo on top */
	margin-top: 0.4rem;
	margin-left: 1.5rem;
	position: absolute;
	height: 4.5rem;
	width: 14rem;
	z-index: 999;
  }
  
  .navbar-nav {
	display: flex;
	justify-content: flex-end;
  height: 1.5rem;
	/* padding: 1rem; */
  }
  
  .navbar {
	background: linear-gradient(270deg,#2d0b00 8%, #00093c 35%, rgb(255, 255, 255) , #fff);
	padding-right: 4.5rem;
  
  }
  
  .navbar-custom .navbar-nav .nav-link {
	color: rgb(255, 255, 255);
  
  }
  
  .navbar-custom .navbar-nav .nav-link:hover {
	color: rgb(0, 207, 180);
	display: flex;
  }
  
  .nav-item{
	display: inline-block;
  display: flex;
  align-items: center;
  }
  .nav-link{
	color: white;
	/* text-decoration: none;
	padding-left: 3rem; */
  
  }
  
  nav {
	position: relative;
	z-index: 99;
	width: 100%;
	background: #fff;
  }
  nav .wrapper {
	position: relative;
	max-width: 1300px;
	padding: 1rem 4rem 1rem;
	height: 50px;
	line-height: 80px;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
  }
  
  .wrapper .nav-links {
	display: inline-flex;
	margin-top: 0.75rem;
  }
  .nav-links li {
	list-style: none;
	
  }
  .nav-links li a {
	
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 0 1rem;
	border-radius: 3px;
	transition: all 0.3s ease;
	font-family: "Poppins";
	
  }

  .nav-links li a:hover {
	background: #fff;
	color: red;
  }
  .nav-links .mobile-item {
	display: none;
  }
  
  .nav-links li:hover .mega-box {
	
	top: 50px;
	/* Distance between mega box and nav links */
	opacity: 1;
	visibility: visible;
  }
  
  
  .mega-box {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 30px;
	top: 0px;
	opacity: 0;
	visibility: hidden;
	
  }
  .mega-box .content {
	background: rgb(236, 236, 236);
	padding: 25px 3rem;
	display: flex;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
	font-family: 'Poppins';
	
  }
  .mega-box .content .row {
	width: calc(30% - 5px);
	line-height: 45px;
  }
  .content .row img {
    margin-top: 3.5rem ;
	width: 18rem;
	height: 10rem;
  position: absolute;
  
	/* object-fit: cover; */
  }
  
  .content .row header {
	color: rgb(107, 107, 107);;
	font-size: 20px;
	font-weight: 500;
  }
  .content .row .mega-links {
	margin-left: -40px;
	border-right: 1px solid rgba(255, 255, 255, 0.09);
  }

  .row h5{
    color: #000;
    text-align:center;
  }
  .row .mega-links li {
	padding: 0 1rem;
	
  }
  .row .mega-links li a {
	padding: 0px;
	padding: 0 30px;
	color: rgb(107, 107, 107);
	font-size: 15px;
	text-align: left;
	font-weight: bold;
	display: block;
	/* width: 100%;
	height: 100%; */
  }
  .row .mega-links li a:hover {
	color: #000;
  }
  .wrapper .btn {
	color: #000;
	font-size: 20px;
	cursor: pointer;
	display: none;
  }
  .wrapper .btn.close-btn {
	position: absolute;
	right: 30px;
	top: 10px;
  }
nav input {
  display: none;
}

@media screen and (max-width: 1000px) {
    .headimg{
      height: 3.5rem;
      width: 11rem;
    }
  
    .sub{
      display: none;
    }
  
    .carousel-controls{
      display: none;
    }
  .wrapper .btn {
    display: block;
  }
  .wrapper .nav-links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: whitesmoke;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3a3b3c;
  }
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn {
    display: block;
    
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  
  #homepage-slider img {
    padding-top: 1rem;
    height: 40vh;
  }
  
  #showMegaacademics:checked ~ .mega-box,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .desktop-item {
    display: none;
  }
  .nav-links .mobile-item {
    display: block;
    color: black;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .row h5{
    
    padding: 0 20px;
      color: rgb(107, 107, 107);
      font-size: 15px;
      text-align: left;
      font-weight: bold;
      display: block;
  }
  .row img{
    display: none;
  }
  .nav-links .mobile-item:hover {
    background: #3a3b3c;
  }
  .drop-menu li {
    margin: 0;
  }
  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  
  
  .mega-box .content .row {
    width: 150%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }
  
  .fa-bars{
    margin-top: 1.5rem;
  }
}
