:root {
  --primary-color: #010712;
  --secondary-color: #555657;
  --bg-color: #e0ffe0;
  --button-color: #3B3636;
  --h1-color: #3F444C;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  /* transition: all 0.3s ease-in-out; */
}




.fa-bars{
  display: flex;
  justify-content: flex-end;
}



form {
  width: 36rem;
  position: relative;
  margin-top: 4rem;
  padding: 1rem 0;
}

input, textarea, label {
  width: 40vw;
  display: block;
}

p, placeholder, input, textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

input::placeholder, textarea::placeholder {
  color: var(--primary-color);
}

input, textarea {
  color: var(--primary-color);
  font-weight: 500;
  /* background: var(--bg-color); */
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  outline: none;
}

textarea {
  resize: none;
}

button {

  background:#000000;
  color: #fff;
  font-weight: 500;
  width: 8rem;
  height: 3.25rem;

}

input:hover, textarea:hover, button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.8;
}



.description {
    margin-left: 1.25rem;
  }




#error, #success-msg {
  width: 40vw;
  margin: 0.125rem 0;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  color: var(--secondary-color);
  }


  #success-msg {
  transition-delay: 3s;
  }

@media only screen and (max-width: 1000px) {
  .contact-container{
    height: auto;
  }

  .logo {
    width: 12rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  p {
    font-size: 0.7rem;
  }
  input, textarea, button {
    font-size: 0.65rem;
  }
  .description {
    font-size: 0.3rem;
    margin-left: 0.4rem;
  }
  button {
    width: 7rem;
  }
  

.contact-info-details{
  margin-top: 2rem;
  flex-direction: column;
}

}

@media screen and (max-width:850px){
  iframe{
    margin-top: 6rem;
  }

  body{
    overflow-x: hidden;
  }

  .left-col{
    width: 70%;
    height: 70%;
    
  }
  .right-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 auto; */
    
  }

    .contact-container{
      display: flex;
      
    flex-direction: column;
    width: 150%;
    
  }
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  /* background-color: #4d79bd; */

  background: linear-gradient(200deg, #a875ec 50%, #ff6b7c 100%);
	/* -webkit-background-clip: ; */
	/* -webkit-text-fill-color: transparent; */
	font-weight: 600;

  
  border-radius: 10px;
  margin: 4rem 2rem 4rem;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: none;
  background: #f1f1f1;
  border-radius: 3px;
}

input[type=submit] {
  /* background-color: #008726;
  color: white;
  padding: 10px;
  border: none;

  cursor: pointer;
  width: 100%;
  margin-bottom: 10px; */
}

input[type=submit]:hover {
  /* background-color: #45a049; */
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
