@import url("https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@400;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Marcellus+SC&family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@900&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

#loadscreen {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fafafa url(loading.gif) no-repeat center;
	z-index: 99999;
}



body {
	color: #ffffff;
	font-family: "Poppins", serif;
	overflow-x: hidden;
}

hr {
	color: rgb(255, 255, 255);
	width: 100%;
	margin: auto;
}

.toplist {
	margin-bottom: 1rem;
}


.part1 {
	height: 24rem;
	display: flex;
	align-items: center;
	font-size: 2.5vw;
	padding: 2rem 12rem 6rem;
	background-color: black;
	color: white;
	font-weight: 600;
  }

.part1 p {
	background: linear-gradient(45deg, #a875ec 20%, #ff6b7c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

.pathw {
	position: absolute;
	top: 21rem;
	font-size: 14px;
	margin-top: 1rem;
  }


.toplist img {
	align-self: center;
	justify-self: center;
}

.content-text {
	width: 70%;
	text-align: justify;
}

.dep-content img {
	height: 15rem;
	width: 280px;
}

.dep-content {
	display: flex;
	justify-content: space-around;
}

.content-list {
	flex-direction: row;
	list-style-type: disc;
}
.btnlib {
	font: solid 2px bold 11px ;
	text-decoration: none;
	background-color: #9f9e9e;
	color: #000000;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
  }
.content-list img {
	padding-bottom: 1rem;
}

.align {
	display: flex;
	justify-content: space-between;
}

.trustrow {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	margin-bottom: 4rem;
}

.trustrow img {
	height: 20rem;
	width: 20rem;
	margin-bottom: 2rem;
}

.trustrow h4 {
	margin-top: 1rem;
	font-weight: 400;
	color: rgb(255, 153, 0);
	font-family: 'Martel', serif
}


.trustrow h5 {
	color: rgba(63, 54, 43, 0.685);
	font-family: 'Martel', serif;
}


.sportspics1 img,
.sportspics2 img {
	width: 85%;
	height: 250px;
}

.sportspics1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 2rem;
}

.sportspics2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


.tabs {
	margin-top: 2rem;
	margin-bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
	background: white;
	padding: 50px;
	padding-left: 20px;
	padding-bottom: 80px;
	width: 90%;
	height: 100%;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	border-radius: 5px
}

.tabs input[name=tab-control] {
	display: none;
}

.tabs .content1 section h2,
.tabs ul li label {
	font-weight: bold;
	font-size: 18px;
	color: #428BFF;
}

.tabs ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	justify-content: space-between;
	align-items: center;

}

.tabs ul li {
	box-sizing: border-box;
	flex: 1;
	width: 50%;
	padding: 0 10px;
	text-align: center;
}

.tabs ul li label {
	transition: all 0.3s ease-in-out;
	color: #929daf;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tabs ul li label br {
	display: none;
}


.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
	outline: 0;
	color: #000000;
}

.tabs .slider {
	position: relative;
	width: 25%;
	transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

/* .tabs .slider .indicator {
  position: relative;
  width: 100px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #ff0059;
  border-radius: 4px;
} */
.tabs .content1 {
	margin-top: 30px;
}

.tabs .content1 section {
	display: none;
	-webkit-animation-name: content;
	animation-name: content;
	-webkit-animation-direction: normal;
	animation-direction: normal;
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	line-height: 1.8;
}

.tabs .content1 section h2 {
	padding-bottom: 15px;
}

.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
	cursor: default;
	color: #428BFF;
}

.tabs img {
	margin: 5px 10px 0px;
}

.carde {
	position: relative;
	margin-right: 1.5rem;
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
	border-radius: 10px;
}

.carde .card-mediae {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

.carde .card-mediae img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: all 0.3s;
	border-radius: 10px;

}

.carde:hover .card-mediae img {
	transform: scale(1.05);
}

.carde .card-mediae::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(22, 22, 22, 0);
	transition: all 0.3s;
	z-index: 1;
}

.carde:hover .card-mediae::before {
	background-color: #161616ef;
}

.carde .card-contente {
	display: flex;
	justify-content: center;

	flex-direction: column;
	padding: 40px;
	opacity: 0;
	transition: all 0.3s;
	margin-bottom: 9rem;
}

.carde:hover .card-contente {
	opacity: 1;

}

/* .carde .card-contente .card-headere {
	margin-bottom: 30px;
  } */

.carde .card-contente .card-headere .card-datee {
	display: block;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 8px;
}

.carde .card-contente .card-headere h3 {
	font-size: 1.5vw;
	font-weight: 500;
	line-height: 43px;
}

.carde .card-contente .card-headere h3 a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	transition: all 0.3s;
}

.carde .card-contente .card-headere h3 a:hover {
	color: rgb(0, 162, 255);
}

/* .carde .card-contente .card-desce {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	line-height: 27px;
  } */

.carde .card-contente .card-footere {
	position: absolute;
	/* margin-top: 100px; */
	bottom: 5%;
	width: 50%;
	/* margin-bottom: 2rem; */

}

.carde .card-contente .card-footere .read-more-linke {

	display: inline-flex;
	align-items: center;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.3s;
}

.carde .card-contente .card-footere .read-more-linke:hover {
	color: rgb(0, 162, 255);
	;
}

.carde .read-more-linke svg {
	height: 10px;
	margin-left: 10px;
	transition: transform 0.3s;
}

.carde .read-more-linke:hover svg {
	transform: translateX(5px);
}

.carde .card-bordere span {
	display: inline-block;
	position: absolute;
	background-color: rgb(0, 162, 255);
	transition: all 0.3s linear;
	z-index: 2;
}

.carde .card-bordere span.top {
	width: 100%;
	height: 5px;
	top: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: left;
}

.carde .card-bordere span.right {
	width: 5px;
	height: 100%;
	top: 0;
	right: 0;
	transform: scaleY(0);
	transform-origin: top;
}

.carde .card-bordere span.bottom {
	width: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: right;
}

.carde .card-bordere span.left {
	width: 5px;
	height: 100%;
	top: 0;
	left: 0;
	transform: scaleY(0);
	transform-origin: bottom;
}

.carde:hover .card-bordere span.top {
	transform: scaleX(1);
}

.carde:hover .card-bordere span.right {
	transform: scaleY(1);
	transition-delay: 0.3s;
}

.carde:hover .card-bordere span.bottom {
	transform: scaleX(1);
	transition-delay: 0.6s;
}

.carde:hover .card-bordere span.left {
	transform: scaleY(1);
	transition-delay: 0.9s;
}


@media (max-width: 1000px) {
	.tabs input[name=tab-control]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
		background: rgba(0, 0, 0, 0.08);
	}
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.slider {
	transform: translateX(0%);
}

.tabs input[name=tab-control]:nth-of-type(1):checked~.content1>section:nth-child(1) {
	display: block;
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
	cursor: default;
	color: #428BFF;
}

.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
	fill: #428BFF;
}

@media (max-width: 1000px) {
	.tabs input[name=tab-control]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
		background: rgba(0, 0, 0, 0.08);
	}
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.slider {
	transform: translateX(100%);
}

.tabs input[name=tab-control]:nth-of-type(2):checked~.content1>section:nth-child(2) {
	display: block;
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
	cursor: default;
	color: #428BFF;
}

.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
	fill: #428BFF;
}

@media (max-width: 1000px) {
	.tabs input[name=tab-control]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
		background: rgba(0, 0, 0, 0.08);
	}
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.slider {
	transform: translateX(200%);
}

.tabs input[name=tab-control]:nth-of-type(3):checked~.content1>section:nth-child(3) {
	display: block;
}

.tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
	cursor: default;
	color: #428BFF;
}

.tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
	fill: #428BFF;
}

@media (max-width: 600px) {
	.tabs input[name=tab-control]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
		background: rgba(0, 0, 0, 0.08);
	}
}

.tabs input[name=tab-control]:nth-of-type(4):checked~.slider {
	transform: translateX(300%);
}

.tabs input[name=tab-control]:nth-of-type(4):checked~.content1>section:nth-child(4) {
	display: block;
}

@-webkit-keyframes content1 {
	from {
		opacity: 0;
		transform: translateY(5%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes content1 {
	from {
		opacity: 0;
		transform: translateY(5%);
	}

	to {
		opacity: 1;
		transform: translateY(0%);
	}
}

@media (max-width: 1000px) {
	.tabs ul li label {
		white-space: initial;
	}

	.tabs ul li label br {
		display: initial;
	}

	.tabs ul li label svg {
		height: 1.5em;
	}
}

@media (max-width: 600px) {

	.sportspics1 {
		display: flex;
		flex-direction: column;
	}

	.sportspics2 {
		display: flex;
		flex-direction: column;
	}

	.part1 {

		margin-top: 1rem;
	}

	.tabs ul li label {
		display: none;
	}

	.tabs ul li label span {
		display: none;
	}

	.tabs .slider {
		display: none;
	}

	.tabs .content1 {
		margin-top: 20px;
	}

	.tabs .content1 section h2 {
		display: block;
	}

	.dep-content {
		flex-direction: column;
		text-align: left;

	}
	.btnlib {
		font: solid 2px bold 11px ;
		text-decoration: none;
		background-color: #9f9e9e;
		color: #000000;
		padding: 10px 10px 10px 10px;
		border-radius: 10px;
		border-top: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
	  }

	.dep-content p {
		font-size: 12px;
		margin-left: 11px;
		width: 277px;
		line-height: 15px;
		margin-top: 18px;
		;
	}



	.content1 {
		flex-direction: column;
	}
}


.card5 {
	position: relative;
	height: 420px;
	width: auto;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
}

.card5:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card5 .image5 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image5 img {
	height: 100%;
	width: 100%;
	transition: 0.6s;
}

.card5:hover .image5 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card5 .content5 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content5 .title5 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content5 .sub-title5 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom5 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom5 {
	display: none;
}

.card51 {
	position: relative;
	height: 420px;
	width: auto;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;

	margin-left: 20px;
}

.card51:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card51 .image51 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image51 img {
	height: 100%;
	width: 100%;
	transition: 0.6s;
}

.card51:hover .image51 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card51 .content51 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content51 .title51 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content51 .sub-title51 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom51 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom51 {
	display: none;
}

.allcard {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}


.card52 {
	position: relative;
	height: 420px;
	width: auto;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
}

.card52:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card52 .image52 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image52 img {
	height: 100%;
	width: 100%;
	transition: 0.6s;
}

.card52:hover .image52 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card52 .content52 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content52 .title52 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content52 .sub-title52 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom52 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom52 {
	display: none;
}


.card53 {
	position: relative;
	height: 420px;
	width: auto;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
	margin-right: 20px;
}

.card53:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card53 .image53 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image53 img {
	height: 100%;
	width: 100%;
	transition: 0.6s;
}

.card53:hover .image53 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card53 .content53 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content53 .title53 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content53 .sub-title53 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom53 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom53 {
	display: none;
}



.card54 {
	position: relative;
	height: 420px;
	width: 310px;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
}

.card54:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card54 .image54 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image54 img {
	height: 90%;
	width: 100%;
	transition: 0.6s;
}

.card54:hover .image54 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card54 .content54 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content54 .title54 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content54 .sub-title54 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom54 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom54 {
	display: none;
}

.card55 {
	position: relative;
	height: 420px;
	width: 310px;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;

	margin-left: 20px;
}

.card55:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card55 .image55 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image55 img {
	height: 90%;
	width: 100%;
	transition: 0.6s;
}

.card55:hover .image55 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card55 .content55 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content55 .title55 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content55 .sub-title55 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom55 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom55 {
	display: none;
}

.allcard1 {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}


.card56 {
	position: relative;
	height: 420px;
	width: 310px;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
}

.card56:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card56 .image56 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image56 img {
	height: 90%;
	width: 100%;
	transition: 0.6s;
}

.card56:hover .image56 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card56 .content56 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content56 .title56 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content56 .sub-title56 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom56 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom56 {
	display: none;
}


.card57 {
	position: relative;
	height: 420px;
	width: 310px;
	display: block;
	background: white;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	transition: 0.18s linear;
	margin-left: 20px;
	margin-right: 20px;
}

.card57:hover {
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.card57 .image57 {
	background: #000;
	height: 380px;
	overflow: hidden;
}

.image57 img {
	height: 90%;
	width: 100%;
	transition: 0.6s;
}

.card57:hover .image57 img {
	opacity: 0.6;
	transform: scale(1.1);
}

.card57 .content57 {
	position: absolute;
	bottom: 0px;
	background: rgb(243, 243, 243);
	width: 100%;
	text-align: center;
	padding: 7px 7px;
}

.content57 .title57 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
}

.content57 .sub-title57 {
	font-size: 18px;
	font-weight: 500;
	color: #ff0059;
	margin-bottom: 10px;
}

.bottom57 p {
	color: #666;
	font-size: 16px;
	text-align: justify;
	line-height: 2em;
	padding: 0 12px 0;
}

/*.bottom5 button{
	border-radius: 5px;
	width: 90%;
	padding: 7px 15px;
	font-size: 15px;
	background: rgb(51, 51, 51);
	color: white;
	font-weight: 500;
	border: none;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.2s ease;
}
.bottom5 button:hover{
	transform: scale(0.95);
	background: #428BFF;

}*/
.bottom57 {
	display: none;
}



/* Subscribe me on Youtube
https://bit.ly/3m9avif
*/

/*==================== 
	Footer 
====================== */

/* Main Footer */
footer .main-footer {
	padding: 20px 0;
	background: #252525;
}

footer ul {
	padding-left: 0;
	list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
	background: #222;
	padding: 5px 0;
}

.footer-copyright .logo {
	display: inherit;
}

.footer-copyright nav {
	float: right;
	margin-top: 5px;
}

.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-copyright nav ul li {
	border-left: 1px solid #505050;
	display: inline-block;
	line-height: 12px;
	margin: 0;
	padding: 0 8px;
}

.footer-copyright nav ul li a {
	color: #969696;
}

.footer-copyright nav ul li:first-child {
	border: medium none;
	padding-left: 0;
}

.footer-copyright p {
	color: #969696;
	margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
	background: #252525;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
	background: transparent;
}

footer.transparent .footer-copyright {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
	background: #f9f9f9;
}

footer.light .main-footer {
	background: #f9f9f9;
}

footer.light .footer-copyright {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
	display: inline-block;
}

/*==================== 
	Widgets 
====================== */
.widget {
	padding: 20px;
	margin-bottom: 40px;
}

.widget.widget-last {
	margin-bottom: 0px;
}

.widget.no-box {
	padding: 0;
	background-color: transparent;
	margin-bottom: 40px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.widget.subscribe p {
	margin-bottom: 18px;
}

.widget li a {
	color: #ff8d1e;
}

.widget li a:hover {
	color: #4b92dc;
}

.widget-title {
	margin-bottom: 20px;
}

.widget-title span {
	background: #839FAD none repeat scroll 0 0;
	display: block;
	height: 1px;
	margin-top: 25px;
	position: relative;
	width: 20%;
}

.widget-title span::after {
	background: inherit;
	content: "";
	height: inherit;
	position: absolute;
	top: -4px;
	width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.widget .badge {
	float: right;
	background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
	color: #fff;
}

ul.social-footer2 {
	margin: 0;
	padding: 0;
	width: auto;
}

ul.social-footer2 li {
	display: inline-block;
	padding: 0;
}

ul.social-footer2 li a:hover {
	background-color: #ff8d1e;
}

ul.social-footer2 li a {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
}

.btn {
	background-color: #ff8d1e;
	color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
	background: #4b92dc;
	color: #fff;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
	-ms-transition: all 250ms ease-in-out 0s;
	-o-transition: all 250ms ease-in-out 0s;
	transition: all 250ms ease-in-out 0s;

}