@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Marcellus+SC&family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.navbar-nav{
  margin-left: auto;
}

.homescreen{
    height: 70vh;
    
}

.homescreen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homescreen-message{
    font-family: 'Poppins';
    background-color: #f2f2f2d7;
    position: absolute;
    top: 20%;
    left: 5%;
    padding-bottom: 1rem;
}
.homescreen-message h1,h3{
    font-family: 'Poppins';
    padding: 0.5rem 2rem 0 1rem;
}

.effect {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .effect:hover {
    border: 1px solid #f7990e;
    background: #f88a0b;
    transition: 0.5s;
    color: #fff;
  }

  .who-we-are{
      margin: 2rem auto 0 auto;
      text-align: center;
      width: 70%;
  }

  h1{
      font-family: 'Poppins';
      text-align: center;
  }

  .hori-line{
      /* background: #fc8600; */
    border: 3px solid green;
    border-radius: 5px;
      width: 10%;
      margin: 0 auto 2rem auto;
    }

  .who-we-are p{
      font-size: 20px;
      margin-bottom: 3rem;
      padding:  auto 0;
      display: flex;
      justify-content: center;
  }

  /* Circular cards for leaders */
  .card-circle{
    
    margin-top:50px;
    background:#fcb214;   
    
    padding:0px;
    border-radius:50%;
    
}

.card-circle img{
  border-radius:50%;
}
.card-circle h3{
   margin-top: 2rem;
   text-align: center;
}

.card-circle h4{
   text-align: center;
}

.card-circle:nth-child(3){
   background:#fcb214;
}

.card-circle{
  transition: all ease-in-out 0.2s;
}

.card-circle:hover{
   border:7px solid #fcb214;
}

@media only screen and (min-width: 1200px) {
   .card-circle:nth-child(1){
       
       z-index:0;
       
  }
   .card-circle:nth-child(2){
   margin-left:-20px;
   box-shadow: 1px 2px 20px 8px rgba(241, 235, 235, 0.12);
   transform: scale(1.2);
   z-index:2;
   }

 
    .card-circle{
        width:300px;
        height:300px;
   }
  
  
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .card-circle{
        width:340px;
        height:340px;
   }
 
  .card-circle:nth-child(3){
        margin-left:-50px;
        z-index:0;
   }
  .card-circle:nth-child(2){
        margin-left:-20px;
        z-index:1;
   }
}

.events-heading{
margin-top: 13rem;
}

.recent-events{
  
  background-color: #ffc23f;
  padding: 3rem 0;
  border-bottom-right-radius: 4rem;
}


.event{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}



.event-content{
  margin-left: 2rem;
}
.event-content p{
  font-size: 18px;
}

.event img{
  display: flex;
  width: 100%;
  height: 100%;
}

footer {
  bottom: 0px;
  width: 100%;
  background: linear-gradient(to right, #2d0b00, #00093c);
  color: #fff;
  border-top-right-radius: 4rem;
}
#rightbox img {
  width: 22vw;
  height: auto;
}
#centerbox .content {
  color: white;
}
.maincontent {
  display: flex;
  padding-bottom: 4rem;
  padding-top: 3rem;
  justify-content: space-around;
}
.maincontent .leftbox {
  flex-basis: 50%;
  padding: 10px 20px;
}
.maincontent .box a {
  display: flex;
  flex-direction: column;
}
.box h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 1rem 2rem 1rem;
}
.box .content {
  margin: 1rem 2rem 1rem;
}
.right .social {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  padding-top: 2rem;
  padding-left: 0.7rem;
}
.right .social a {
  padding: 0 0.5rem;
}
.right .social a i {
  height: 40px;
  width: 45px;
  color: rgb(204, 204, 204);
  line-height: 40px;
  text-align: center;
  font-size: 28px;
  transition: 0.3s;
}
.right .social a i:hover {
  padding-top: 5px;
}
#centerbox .content .place .text {
  color: rgb(204, 204, 204);
  line-height: 55px;
}
#centerbox .content .phone .text {
  color: rgb(204, 204, 204);
  line-height: 40px;
}
#centerbox .content .mail .text {
  color: rgb(204, 204, 204);
  line-height: 40px;
}
#centerbox .content .place i {
  padding-right: 10px;
}
#centerbox .content .phone i {
  padding-right: 10px;
}
#centerbox .content .mail i {
  padding-right: 10px;
}
#centerbox .content i {
  height: 40px;
  width: 40px;
  color: rgb(204, 204, 204);
  line-height: 55px;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.3s ease;
}
#centerbox .content i:hover {
  text-align: center;
  padding: 0 0.5rem 0px;
}
#leftbox .content a {
  font-size: 1rem;
  color: whitesmoke;
  line-height: 44px;
  transition: 0.3s ease;
}
#leftbox .content a:hover {
  padding-left: 8px;
}