body {
  margin: 0;
  display: flex;
}

svg {
  width: 100%;
  height: auto;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#sec-1 {
  background-color: #1a1a1a;
}

.ctn {
  transform: scale(0.375);
  margin-left: -50%;
}

.down-50 {
  transform: translateY(50px);
}

.down-100 {
  transform: translateY(100px);
}

.down-150 {
  transform: translateY(150px);
}

#frame {
  /* Safari */
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#esc {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#bot-spacer {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#motor {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#fc {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.up-50 {
  transform: translateY(-50px);
}

.up-75 {
  transform: translateY(-75px);
}

.up-100 {
  transform: translateY(-100px);
}

.up-150 {
  transform: translateY(-150px);
}

.up-200 {
  transform: translateY(-200px);
}

#nut {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#prop {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#top-spacer {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#xt60 {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#wire {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#fpv {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#gopro {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#vtx {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

#btn {
  position: fixed;
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 36px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: all 0.2s;
  top: 70%;
  left: 20%;
}
#btn:hover {
  background-color: white;
  color: #9b2d30;
}

.developerInfo {
  position: absolute;
  right: 0;
  width: 657px;
  margin-top: 3rem;
}

.developerInfo__title,
.developerInfo__subtitle {
  font-family: "Montserrat";
  color: white;
  font-weight: 600;
}

.developerInfo__title {
  margin-bottom: 10px;
  font-size: 44px;
}

.developerInfo__subtitle {
  margin-bottom: 30px;
  font-size: 16px;
}

.developerInfo__name {
  color: #2a333c;
}

.developerInfo__paragraph {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins";
  color: white;
  max-width: 80%;
}

.developerInfo__link {
  float: right;
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  font-family: "Poppins";
  font-size: 14px;
  line-height: 36px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: all 0.2s;
  text-decoration: none;
  margin-right: 25%;
}
.developerInfo__link:hover {
  background-color: white;
  color: #9b2d30;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  #sec-1 {
    width: 100vw;
  }
}
